body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

header {
  text-align: center;
  padding: 1.2rem 1rem 0.5rem;
}

h1 {
  margin: 0;
  font-size: 1.3rem;
}

p {
  font-size: 0.9rem;
  color: #ccc;
}

.earn-btn {
  display: block;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #e53935;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
}

.card {
  background: #fff;
  color: #000;
  border-radius: 12px;
  margin: 0.8rem auto;
  padding: 1rem;
  width: 90%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

footer {
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: 0.8rem;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #222;
  z-index: 1000;
}

.nav-item {
  color: white;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item img {
  width: 24px;
  height: 35px;
  margin-bottom: 4px;
  filter: brightness(0) invert(1);
}
