body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

header {
  text-align: center;
  padding: 1.2rem 1rem 0.5rem;
}

h1 {
  margin: 0;
  font-size: 1.3rem;
}

p {
  font-size: 0.9rem;
  color: #ccc;
}

.earn-btn {
  display: block;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #e53935;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
}

.card {
  background: #fff;
  color: #000;
  border-radius: 12px;
  margin: 0.8rem auto;
  padding: 1rem;
  width: 90%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

footer {
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: 0.8rem;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid #222;
  z-index: 1000;
}

.nav-item {
  color: white;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item img {
  width: 28px;
  height: 40px;
  margin-bottom: 6px;
  filter: brightness(0) invert(1);
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 1rem;
  background-color: #000;
  color: #fff;
  flex-direction: column;
}

.circle-progress {
  text-align: center;
}

.circle-progress .percent {
  font-size: 48px;
  font-weight: bold;
}

.main-btn {
  margin-top: 1rem;
  padding: 10px 24px;
  background: white;
  color: black;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.info-section {
  background: #1b1b1b;
  padding: 0.5rem 0.7rem;
  border-radius: 14px;
  margin: 0.8rem auto;
  width: 92%;
  max-width: 420px;
}

.info-section h2 {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.info-card {
  display: flex;
  align-items: center;
  background: none;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  padding: 0.55rem 0.6rem;
  margin-bottom: 0.6rem;
  gap: 0.8rem;
}

.icon-wrap {
  background-color: #2a2a2a;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.icon-wrap img {
  width: 20px;
  height: 20px;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.text-wrap strong {
  font-size: 0.85rem;
}

.text-wrap span {
  font-size: 0.7rem;
  color: #aaa;
}


.app-header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: #000;
  color: white;
}

.app-header img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.app-header h1 {
  font-size: 18px;
  margin: 0;
}
